{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "tabWidth": 2,
    "arrowParens": "avoid",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
      "<BUILTIN_MODULES>",
      "",
      "<THIRD_PARTY_MODULES>",
      "",
      "^[@]",
      "",
      "^[.]"
    ]
  }